* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.contenedor {
    
    width:100vw;
    height:100vh;
    background-color: rgb(223, 112, 112);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(206, 206, 206);
    display:grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 50% 50%;
    
    grid-template-areas:
                            'menu contenidoup1 contenidoup2'
                            'menu contenidodown1 contenidodown2'
    ;
}

.caja {
    background-color:rgb(46, 46, 46);
    text-align:center;
    border: 1px solid rgb(214, 15, 15);
}

#menu  { grid-area: menu;   }
#contenidoup1{ grid-area: contenidoup1; }
#contenidoup2   { grid-area: contenidoup2;    }
#contenidodown1   { grid-area: contenidodown1;    }
#contenidodown2   { grid-area: contenidodown2;    }
